body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;       
    padding: 0;      
    font-size: 16px; 
    line-height: 1.5; 
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.link.contacts {
    color: #434455;
}

.link.contacts:hover,
.link.contacts:focus {
    color: #404BBF;
}

.section  {
   background-color: #2E2F42;
   color: #FFFFFF;
}

.section.one {
    padding: 188px 0;

}

.section.two {
    background-color: #FFFFFF;
    color: #434455;
    padding: 120px 0;
}

.section.four {
    background-color: #FFFFFF;
    color: #434455;
    padding-top: 120px;
    padding-bottom: 120px;
}

.button {
    display: block;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer; 
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.link.logo {
    display: flex;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
    .link.logo:hover,
    .link.logo:focus {
        color: #404BBF;
    }



.logo-light {
    color: #F4F4FD;
}

.logo-dark {
    color: #2E2F42;
}

.footer {
    background-color: #2e2f42;
    color: #F4F4FD;
    padding: 100px 0;
}

.link.logo.footer {
    display: inline-block;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    font-family: sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.header-text {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    margin-bottom: 8px;
    
}

.strategy-item {
     width: calc((100% - 72px) / 4)
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif; 
    font-weight: 700;                   
    font-size: 18px;                    
    line-height: 1.17;                  
    letter-spacing: 0.03em;
    margin-right: 76px;
    
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    gap: 40px;
}

.section.three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team.list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.item {
   background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
}

.header.container {
    display: flex;
    align-items: center;
    width: 1158px;
    height: 72px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
border: 2px solid red;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav.list {
    display: flex;
    gap: 40px;
    
}

.contacts.list {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
 
.benefits.list {
    display: flex;
    gap: 24px;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
}


.tim {
padding: 32px 0;
}

.header-text.team {
    text-align: center;
    margin-bottom: 8px;
}

.text.team {
    text-align: center;
}

.section-title.portfolio {
    margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}


.portfolio.list {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px; 
    width: calc((100% - 48px) / 3);
}
 
.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}

.header-text.apps {
    margin-bottom: 8px;
}

.nav-item {
    padding: 24px 0;
}